/*
	ASCOM UMS srl
	FluidBalance Training - Exercise 1
	PatientGrowth Table with data

*/


SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientGrowth](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[pg_PatientID] [int] NULL,
	[pg_TableReference] [int] NULL,
	[pg_DateCreated] [datetime] NULL,
	[pg_Author] [nvarchar](5) NULL,
	[pg_EvaluationDate] [datetime] NULL,
	[pg_AgeGestationWD] [nvarchar](50) NULL,
	[pg_AgeGestationWeeks] [float] NULL,
	[pg_WeightInGrams] [float] NULL,
	[pg_WeightPercentile] [float] NULL,
	[pg_HeightInCentimeters] [float] NULL,
	[pg_HeightPercentile] [float] NULL,
	[pg_HeadCircumferenceCentimeters] [float] NULL,
	[pg_HeadCircumferencePercentile] [float] NULL
) ON [PRIMARY]
GO

SET IDENTITY_INSERT [dbo].[PatientGrowth] ON 
GO
INSERT [dbo].[PatientGrowth] ([ID], [pg_PatientID], [pg_TableReference], [pg_DateCreated], [pg_Author], [pg_EvaluationDate], [pg_AgeGestationWD], [pg_AgeGestationWeeks], [pg_WeightInGrams], [pg_WeightPercentile], [pg_HeightInCentimeters], [pg_HeightPercentile], [pg_HeadCircumferenceCentimeters], [pg_HeadCircumferencePercentile]) VALUES (6, 1714, 9, CAST(N'2018-12-01T08:51:56.000' AS DateTime), N'GRA', CAST(N'2018-12-01T08:51:00.000' AS DateTime), NULL, NULL, 3750, NULL, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[PatientGrowth] ([ID], [pg_PatientID], [pg_TableReference], [pg_DateCreated], [pg_Author], [pg_EvaluationDate], [pg_AgeGestationWD], [pg_AgeGestationWeeks], [pg_WeightInGrams], [pg_WeightPercentile], [pg_HeightInCentimeters], [pg_HeightPercentile], [pg_HeadCircumferenceCentimeters], [pg_HeadCircumferencePercentile]) VALUES (1, 1720, 1, CAST(N'2017-07-10T12:26:56.000' AS DateTime), N'VIN', CAST(N'2017-07-10T12:26:00.000' AS DateTime), NULL, NULL, 2400, NULL, 50, NULL, 30, NULL)
GO
INSERT [dbo].[PatientGrowth] ([ID], [pg_PatientID], [pg_TableReference], [pg_DateCreated], [pg_Author], [pg_EvaluationDate], [pg_AgeGestationWD], [pg_AgeGestationWeeks], [pg_WeightInGrams], [pg_WeightPercentile], [pg_HeightInCentimeters], [pg_HeightPercentile], [pg_HeadCircumferenceCentimeters], [pg_HeadCircumferencePercentile]) VALUES (2, 1720, 1, CAST(N'2017-11-11T15:16:50.000' AS DateTime), N'DME', CAST(N'2017-11-11T15:16:00.000' AS DateTime), NULL, NULL, 15, NULL, 10, NULL, 10, NULL)
GO
SET IDENTITY_INSERT [dbo].[PatientGrowth] OFF
GO
/****** Object:  Index [PK_PatientGrowth]    Script Date: 27/05/2020 09:31:04 ******/
ALTER TABLE [dbo].[PatientGrowth] ADD  CONSTRAINT [PK_PatientGrowth] PRIMARY KEY NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
